<!DOCTYPE html>
<html data-theme="light" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/main.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.4/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="wrap">
    <div class="logo">
        <a href="/">logo</a>
    </div>
    <div class="content-wrap">
        <div class="category-menu">
            카테고리 메뉴
<!--            <ul>-->
<!--                <li th:each="category : ${categoryList}" th:class="${category.id == targetCategory.id} ? 'selected-item' : '' ">-->
<!--                    <a th:href="@{|/category/${category.id}|}" th:text="${category.title}"></a>-->
<!--                </li>-->
<!--            </ul>-->
            <ul class="menu">
                <li th:each="category : ${categoryList}" th:class="${category.id == targetCategory.id} ? 'selected-item' : '' ">
                    <a th:href="@{|/category/${category.id}|}"></a>
                    <details>
                        <summary th:text="${category.title}"></summary>
                        <ul>
                            <li><a>level 2 item 1</a></li>
                            <li><a>level 2 item 2</a></li>
                        </ul>
                    </details>
                </li>
            </ul>
            <br>
            <div>
                <form action="/category/createCategory" method="post">
                    <input type="hidden" name="postId" th:value="${targetPost.id}">
                    <button class="btn">카테고리 추가</button>
                </form>
            </div>
        </div>
        <div class="page-menu">
            페이지 메뉴
            <!--            3. 템플릿에서 게시물 목록 출력-->
            <ul>
                <li th:each="post : ${postList}" th:class="${post.id == targetPost.id} ? 'selected-item' : '' ">
                    <a th:href="@{|/postDetail/${post.id}|}" th:text="${post.title}"></a>
                </li>
            </ul>
            <br>
            <div>
                <form action="/createPost" method="post">
                    <input type="hidden" name="categoryId" th:value="${targetCategory.id}">
                    <button class="btn">게시물 추가</button>
                </form>
            </div>
        </div>
        <div class="content">
            <form id="updateForm" method="post">
                <div>
                    <input type="hidden" name="id" th:value="${targetPost.id}">
                </div>
                <div>
                    <input type="text" name="title" th:value="${targetPost.title}">
                </div>
                <br>
                <div>
                    <textarea name="content" cols="100" rows="10" th:text="${targetPost.content}"></textarea>
                </div>
                <div>
                    <button class="btn" formaction="/update" onclick="return confirmUpdate();">수정</button>
                    <button class="btn" formaction="/delete" onclick="return confirmDelete();">삭제</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--자바스크립트 시작-->
<script>
    function confirmDelete() {
        return confirm("정말로 삭제하시겠습니까?");
    }

    function confirmUpdate() {
        return confirm("정말로 수정하시겠습니까?");
    }
</script>
<!--자바스크립트 끝-->
</body>
</html>