<!DOCTYPE html>
<html data-theme="light" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/main.css">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.4/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
<div class="wrap">
    <!-- 로고 시작   -->
    <div class="logo">
        <a href="/" class="btn btn-ghost normal-case text-xl">logo</a>
    </div>
    <!-- 로고 끝   -->
    <!-- 네비게이션바 시작 -->
    <div class="navbar bg-base-100">
        <div class="flex-none">
            <button class="btn btn-square btn-ghost" onclick="toggleMenus()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path></svg>
            </button>
        </div>
        <div class="flex-1"></div>
        <div class="flex-none">
            <button class="btn btn-square btn-ghost">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block w-5 h-5 stroke-current"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"></path></svg>
            </button>
        </div>
    </div>
    <!-- 네비게이션바 끝 -->
    <div class="content-wrap" id="sideMenu">
        <!-- 카테고리 시작  -->
        <div class="category-menu">
            카테고리 메뉴
            <ul class="menu">
                <li th:replace="~{/fragments :: tree(${targetCategory}, ${categoryList})}"></li>
            </ul>
            <br>
            <div>
                <form action="/category/createCategory" method="post">
                    <button class="btn">카테고리 추가</button>
                </form>
                <br>
                <form action="/category/add-group" method="post">
                    <input type="hidden" name="categoryId" th:value="${targetCategory.id}">
                    <button class="btn">하위 카테고리 추가</button>
                </form>
            </div>
        </div>
        <div class="page-menu">
            페이지 메뉴
            <!--            3. 템플릿에서 게시물 목록 출력-->
            <ul>
                <li th:each="post : ${postList}" th:class="${post.id == targetPost.id} ? 'selected-item' : '' ">
                    <a th:href="@{|/postDetail/${post.id}|}" th:text="${post.title}"></a>
                </li>
            </ul>
            <br>
            <div>
                <form action="/createPost" method="post">
                    <input type="hidden" name="categoryId" th:value="${targetCategory.id}">
                    <button class="btn">게시물 추가</button>
                </form>
            </div>
        </div>
        <div class="content">
            <form id="updateForm" method="post">
                <div>
                    <input type="hidden" name="id" th:value="${targetPost.id}">
                </div>
                <div>
                    <input type="text" name="title" style="width:757px;" th:value="${targetPost.title}">
                </div>
                <br>
                <div>
                    <textarea name="content" cols="100" rows="20" th:text="${targetPost.content}"></textarea>
                </div>
                <div>
                    <button class="btn" formaction="/update" onclick="return confirmUpdate();">수정</button>
                    <button class="btn" formaction="/delete" onclick="return confirmDelete();">삭제</button>
                </div>
            </form>
        </div>
    </div>
    <!-- 카테고리 끝 -->
</div>
<!--자바스크립트 시작-->
<script>
    function confirmDelete() {
        return confirm("정말로 삭제하시겠습니까?");
    }

    function confirmUpdate() {
        return confirm("정말로 수정하시겠습니까?");
    }
</script>
<script>
    function toggleMenus() {
        var categoryMenu = document.querySelector('.category-menu');
        var pageMenu = document.querySelector('.page-menu');

        if (categoryMenu.style.display === 'none' || categoryMenu.style.display === '') {
            categoryMenu.style.display = 'block'; // 카테고리 메뉴 보이기
            pageMenu.style.display = 'block'; // 페이지 메뉴 보이기
        } else {
            categoryMenu.style.display = 'none'; // 카테고리 메뉴 숨기기
            pageMenu.style.display = 'none'; // 페이지 메뉴 숨기기
        }
    }
</script>
<!--자바스크립트 끝-->
</body>
</html>